//workflow

.workflow {
	.headerBtn {
		display: flex;
		justify-content: flex-end;
		color: #fff;
		flex-wrap: wrap;
		

		.btn {
			background-color: rgba($darkBlue, .7);
			border-right: 1px solid #4981b5;
			margin-top: 10px;
			border-radius: 0px;
			width: 120px;
			font-weight: bold;

			&:first-child {
				border-top-left-radius: .25rem;
				border-bottom-left-radius: .25rem;
			}
			&:hover{
				    background-color: #074580;
			}
			&.active {
				background: #042B50;
				color: $lightGreen;
			}
			@include pad-width{
				    font-size: 14px;
				    padding: 10px;
				    width: 100px;
			}
		}


		.welcomeMsg {
			margin-top: 10px;
			background-color: rgba($darkBlue, .7);
			display: inline-block;
			font-weight: 400;
			line-height: 1.25;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			border: 1px solid transparent;
			padding: .5rem 1rem;
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
			-webkit-transition: all .2s ease-in-out;
			-o-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;

			.logOut {
				margin: 0px;
				padding: 0px 5px;
				font-family: '微軟正黑體';
			}
		}

	}
		.sidebar {
			padding: 0px;
				.sidebarBtn {
					cursor: pointer;
					font-weight: 400;
					line-height: 1.25;
					vertical-align: middle;
					padding: 12px 1.5rem;
					font-size: 1rem;
					font-weight: bold;
					color: #095AA6;
					display: flex;
					align-items: center;

					&:hover {
						background: #CAE8FA;
						color: #074580;
					}

					&.active {
						background: #042B50;
						color: $lightGreen;
					}
				
					// @include phone-width{
					// 	padding: .75rem 0rem;
					// 	align-items: center;
					// 	flex-direction: column;
					// 	text-align: center;
					// 	flex: 1;
					// 	justify-content: center;
						
					// }
					@include pad-width {
						flex-direction: column;
					}
				}
			// @include phone-width {
			// 	top: 0px;
			// 	padding: 15px;
			// 	display: flex;
			// 	justify-content: space-between;

				
			// }
				@include pad-width {
					span {
						text-align: center;
					}
				}
			@include mini-phone-width{
				// span {
				// 	display: none;
				// }
			}
		}
}